# Web Scraping Exercise

In [94]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

In [95]:
import pandas as pd

In [96]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

In [97]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [98]:
soup = BeautifulSoup(html,"html.parser")

In [99]:
print(soup.prettify())
# prettify() method uses to display HTML in the nested structure

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [100]:
tag_object = soup.title
print("tag_object:" , tag_object)
# tag , title of page

tag_object: <title>Page Title</title>

In [101]:
print("tag object type:",type(tag_object))

tag object type: <class 'bs4.element.Tag'>

In [102]:
tag_object=soup.h3
tag_object

In [103]:
tag_child = tag_object.b
tag_child

In [104]:
tag_parent = tag_child.parent
tag_parent

In [105]:
tag_object

In [106]:
tag_object.parent

In [107]:
sibling_1= tag_object.next_sibling
sibling_1

In [108]:
sibling_2= sibling_1.next_sibling
sibling_2

In [109]:
sibling_3 = sibling_2.next_sibling
sibling_3

In [110]:
tag_child["id"]

'boldest'

In [111]:
tag_child.attrs

{'id': 'boldest'}

In [112]:
tag_child.get("id")

'boldest'

In [113]:
tag_string = tag_child.string
tag_string

'Lebron James'

In [114]:
type(tag_string)

bs4.element.NavigableString

In [115]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'

In [116]:
type(unicode_string)

str

In [117]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

In [118]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [119]:
table_bs = BeautifulSoup(table, "html.parser")

In [120]:
table_rows = table_bs.find_all("tr")
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>]

In [121]:
first_row = table_rows[0]
first_row

In [122]:
print(type(first_row))

<class 'bs4.element.Tag'>

In [123]:
first_row.td

In [124]:
for i,row in enumerate(table_rows):
    print("row", i , "is", row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>

In [125]:
for i, row in enumerate(table_rows):
    print("row",i)
    cells = row.find_all("td")

    for j, cell in enumerate(cells):
        print("column", j, "cell", cell)

row 0
column 0 cell <td id="flight">Flight No</td>
column 1 cell <td>Launch site</td>
column 2 cell <td>Payload mass</td>
row 1
column 0 cell <td>1</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>
column 2 cell <td>300 kg</td>
row 2
column 0 cell <td>2</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
column 2 cell <td>94 kg</td>
row 3
column 0 cell <td>3</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>
column 2 cell <td>80 kg</td>

In [126]:
list_input = table_bs.find_all(name = ["tr", "td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>,
 <td>80 kg</td>]

In [127]:
table_bs.find_all(id = "flight")

In [128]:
list_input = table_bs.find_all(href = "https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

In [129]:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

In [130]:
table_bs.find_all(href=False)

[<table><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr></table>,
 <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>,
 <a></a>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>,
 <a> </a>,
 <td>80 kg</td>]

In [131]:
soup.find_all(id = "boldest")

In [132]:
table_bs.find_all(string = "Florida")

['Florida', 'Florida']

In [133]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

In [134]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [135]:
two_tables_bs = BeautifulSoup(two_tables, "html.parser")

In [136]:
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

In [137]:
two_tables_bs.find("table",class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

In [138]:
url = "http://www.ibm.com"

In [139]:
data = requests.get(url).text

In [140]:
soup = BeautifulSoup(data,"html.parser")

In [141]:
for link in soup.find_all("a", href = True):
    print(link.get("href"))

https://www.ibm.com/tr/tr
https://www.ibm.com/sitemap/tr/tr
https://www.ibm.com/tr-en/consulting?lnk=trhpv18l1
https://www.ibm.com/thought-leadership/institute-business-value/c-suite-study/ceo?lnk=hpv18l1
/tr-tr/cloud/cloud-pak-for-automation?lnk=hpv18f2
/tr-tr/it-infrastructure/storage/hybrid-cloud-storage?lnk=trhpv18f3
/tr-tr/cloud/cloud-pak-for-watson-aiops?lnk=hpv18f4
/training/cloud
/products/offers-and-discounts?lnk=hpv18t5
https://www.ibm.com/tr-tr/products/unified-endpoint-management?lnk=STW_TR_HPT_T1_BLK&lnk2=trial_MaaS360Wat&psrc=none&pexp=def
https://www.ibm.com/tr-tr/cloud/vmware/shared?lnk=STW_TR_HPT_T2_BLK&lnk2=trial_VMware&psrc=none&pexp=def
https://www.ibm.com/tr-tr/products/datastage?lnk=STW_TR_HPT_T3_BLK&lnk2=trial_InfoDataStage&psrc=none&pexp=def
https://www.ibm.com/tr-tr/cloud/watson-speech-to-text?lnk=STW_TR_HPT_T4_BLK&lnk2=trial_WatsonSpeechText&psrc=none&pexp=def
https://developer.ibm.com/depmodels/cloud/?lnk=hpv18ct16
https://developer.ibm.com/technologies/artificial-intelligence?lnk=hpv18ct19
https://www.ibm.com/demos/?lnk=hpv18ct12
https://developer.ibm.com/?lnk=hpv18ct9
https://www.ibm.com/docs/tr?lnk=hpv18ct14
https://www.redbooks.ibm.com/?lnk=ushpv18ct10
https://www.ibm.com/support/home/?lnk=hpv18ct11
https://www.ibm.com/training/?lnk=hpv18ct15
/cloud/hybrid?lnk=hpv18pt14
/cloud/learn/public-cloud?lnk=hpv18ct1
/watson?lnk=ushpv18pt17
/garage?lnk=hpv18pt13
/blockchain?lnk=hpv18pt4
https://www.ibm.com/thought-leadership/institute-business-value/?lnk=hpv18pt12
/analytics?lnk=hpv18pt1
/security?lnk=hpv18pt9
/financing?lnk=hpv18pt3
https://www.ibm.com/quantum-computing?lnk=hpv18pt16
/cloud/hybrid?lnk=hpv18ct20
/cloud/learn/public-cloud?lnk=hpv18ct1
/cloud/redhat?lnk=hpv18ct13
/watson?lnk=hpv18ct3
https://www.ibm.com/quantum-computing?lnk=hpv18ct18
/cloud/learn/kubernetes?lnk=hpv18ct8
/products/spss-statistics?lnk=ushpv18ct7
/blockchain?lnk=hpv18ct1
https://www.ibm.com/employment?lnk=hpv18ct2
https://www.ibm.com/case-studies/coca-cola-european-partners/?lnk=hpv18cs1
/case-studies/search?lnk=hpv18cs2
#

In [142]:
for link in soup.find_all("img"):
    print(link)
    print(link.get("src"))

<img alt="C harfi biçiminde camgöbeği çizgilerden oluşan simge" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-02-23/ceo-study.png"/>
//1.cms.s81c.com/sites/default/files/2021-02-23/ceo-study.png
<img alt="IBM Cloud Pak for Business Automation için bir kullanım senaryosunu görüntüleyen, masa üzerinde bir dizüstü bilgisayar" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-02-17/cloud-pak-for-business-automation_0.jpg"/>
//1.cms.s81c.com/sites/default/files/2021-02-17/cloud-pak-for-business-automation_0.jpg
<img alt="Hibrit bulut depolaması çözümleri" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-04-12/GettyImages-802301352-servers-444x252.jpg"/>
//1.cms.s81c.com/sites/default/files/2021-04-12/GettyImages-802301352-servers-444x252.jpg
<img alt="Yapay zeka işlemlerini gösteren izometrik şekil" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-02-17/AIops-444x254.jpg"/>
//1.cms.s81c.com/sites/default/files/2021-02-17/AIops-444x254.jpg
<img alt="IBM Cloud Training" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-05-05/1def08ab-ed17-4bfd-9ac082139879743e.jpg"/>
//1.cms.s81c.com/sites/default/files/2021-05-05/1def08ab-ed17-4bfd-9ac082139879743e.jpg
<img alt="IBM MaaS360 with Watson gösterge panosunun ekran görüntüsü" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-12-08/10072019-t-bt-MaaS360-watson-23210-700x420.png"/>
//1.cms.s81c.com/sites/default/files/2021-12-08/10072019-t-bt-MaaS360-watson-23210-700x420.png
<img alt="IBM Cloud for VMWare Solutions gösterge panosunun ekran görüntüsü" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-12-08/IBM-Cloud-23059-700x420.png"/>
//1.cms.s81c.com/sites/default/files/2021-12-08/IBM-Cloud-23059-700x420.png
<img alt="IBM DataStage gösterge panosunun ekran görüntüsü" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-12-08/datastage-trial1.png"/>
//1.cms.s81c.com/sites/default/files/2021-12-08/datastage-trial1.png
<img alt="Watson Speech to Text gösterge panosunun ekran görüntüsü" class="" loading="lazy" src="//1.cms.s81c.com/sites/default/files/2021-12-08/Watson-speech-to-text-23705-700x420.png"/>
//1.cms.s81c.com/sites/default/files/2021-12-08/Watson-speech-to-text-23705-700x420.png

In [143]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [144]:
data  = requests.get(url).text

In [145]:
soup = BeautifulSoup(data,"html.parser")

In [146]:
#find a html table in the web page
table = soup.find('table') 
# in html table is represented by the tag <table>

In [147]:
for row in table.find_all("tr"):
    cols = row.find_all("td")
    color_name = cols[2].string
    color_code = cols[3].string
    print(f"{color_name} -----> {color_code}")

Color Name -----> None
lightsalmon -----> #FFA07A
salmon -----> #FA8072
darksalmon -----> #E9967A
lightcoral -----> #F08080
coral -----> #FF7F50
tomato -----> #FF6347
orangered -----> #FF4500
gold -----> #FFD700
orange -----> #FFA500
darkorange -----> #FF8C00
lightyellow -----> #FFFFE0
lemonchiffon -----> #FFFACD
papayawhip -----> #FFEFD5
moccasin -----> #FFE4B5
peachpuff -----> #FFDAB9
palegoldenrod -----> #EEE8AA
khaki -----> #F0E68C
darkkhaki -----> #BDB76B
yellow -----> #FFFF00
lawngreen -----> #7CFC00
chartreuse -----> #7FFF00
limegreen -----> #32CD32
lime -----> #00FF00
forestgreen -----> #228B22
green -----> #008000
powderblue -----> #B0E0E6
lightblue -----> #ADD8E6
lightskyblue -----> #87CEFA
skyblue -----> #87CEEB
deepskyblue -----> #00BFFF
lightsteelblue -----> #B0C4DE
dodgerblue -----> #1E90FF

In [148]:
url = "https://en.wikipedia.org/wiki/World_population"

In [149]:
data  = requests.get(url).text

In [150]:
soup = BeautifulSoup(data,"html.parser")

In [151]:
tables = soup.find_all("table")

In [152]:
len(tables)

26

In [155]:
for index, table in enumerate(tables):
    if("10 Most densely populated countries" in str(table)):
        table_index = index
print(table_index)

5

In [156]:
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5 million)
  </small>
 </caption>
 <tbody>
  <tr>
   <th>
    Rank
   </th>
   <th>
    Country
   </th>
   <th>
    Population
   </th>
   <th>
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th>
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,704,000
   </td>
   <td>
    710
   </td>
   <td>
    8,033
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    171,930,000
   </td>
   <td>
    143,998
   </td>
   <td>
    1,194
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <p>
     <span class="flagicon">
      <img alt="" class="thumbborder" data-file-height="600" data-file-width="1200" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/23px-Flag_of_Palestine.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/35px-Flag_of_Palestine.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/46px-Flag_of_Palestine.svg.png 2x" width="23"/>
     </span>
     <a href="/wiki/State_of_Palestine" title="State of Palestine">
      Palestine
     </a>
    </p>
   </td>
   <td>
    5,266,785
   </td>
   <td>
    6,020
   </td>
   <td>
    847
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    6,856,000
   </td>
   <td>
    10,452
   </td>
   <td>
    656
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
   </td>
   <td>
    23,604,000
   </td>
   <td>
    36,193
   </td>
   <td>
    652
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,781,000
   </td>
   <td>
    99,538
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="720" data-file-width="1080" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    12,374,000
   </td>
   <td>
    26,338
   </td>
   <td>
    470
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/23px-Flag_of_Haiti.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/35px-Flag_of_Haiti.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/46px-Flag_of_Haiti.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Haiti" title="Haiti">
     Haiti
    </a>
   </td>
   <td>
    11,578,000
   </td>
   <td>
    27,065
   </td>
   <td>
    428
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/23px-Flag_of_the_Netherlands.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/35px-Flag_of_the_Netherlands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/45px-Flag_of_the_Netherlands.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Netherlands" title="Netherlands">
     Netherlands
    </a>
   </td>
   <td>
    17,670,000
   </td>
   <td>
    41,526
   </td>
   <td>
    426
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/21px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/32px-Flag_of_Israel.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/41px-Flag_of_Israel.svg.png 2x" width="21"/>
    </span>
    <a href="/wiki/Israel" title="Israel">
     Israel
    </a>
   </td>
   <td>
    9,450,000
   </td>
   <td>
    22,072
   </td>
   <td>
    428
   </td>
  </tr>
 </tbody>
</table>

In [158]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank,
         "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

population_data

  Rank           Country   Population     Area Density
0    1         Singapore    5,704,000      710   8,033
1    2        Bangladesh  171,930,000  143,998   1,194
2    3  \n Palestine\n\n    5,266,785    6,020     847
3    4           Lebanon    6,856,000   10,452     656
4    5            Taiwan   23,604,000   36,193     652
5    6       South Korea   51,781,000   99,538     520
6    7            Rwanda   12,374,000   26,338     470
7    8             Haiti   11,578,000   27,065     428
8    9       Netherlands   17,670,000   41,526     426
9   10            Israel    9,450,000   22,072     428

In [159]:
pd.read_html(str(tables[5]), flavor="bs4")

[   Rank      Country  Population  Area(km2)  Density(pop/km2)
 0     1    Singapore     5704000        710              8033
 1     2   Bangladesh   171930000     143998              1194
 2     3    Palestine     5266785       6020               847
 3     4      Lebanon     6856000      10452               656
 4     5       Taiwan    23604000      36193               652
 5     6  South Korea    51781000      99538               520
 6     7       Rwanda    12374000      26338               470
 7     8        Haiti    11578000      27065               428
 8     9  Netherlands    17670000      41526               426
 9    10       Israel     9450000      22072               428]

In [160]:
popoulation_data_html = pd.read_html(str(tables[5]), flavor='bs4')[0]
popoulation_data_html

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   171930000     143998              1194
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17670000      41526               426
9    10       Israel     9450000      22072               428

In [161]:
dataframe_list = pd.read_html(url, flavor = "bs4")

In [162]:
len(dataframe_list)

26

In [163]:
dataframe_list[5]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   171930000     143998              1194
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17670000      41526               426
9    10       Israel     9450000      22072               428

In [164]:
pd.read_html(url, match = "10 most densely populated countries", flavor = "bs4")[0]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   171930000     143998              1194
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17670000      41526               426
9    10       Israel     9450000      22072               428